.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
html {
  height: 100vh;
}
body {
  background-image: url("../../../components/images/jpg-draft1.jpg") ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
