.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 2.6rem;
  font-family: 'Courgette', cursive;
  color: black;
  background-color: palegoldenrod;
  border: 0.5px solid rgb(16, 36, 145);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 15px 15px 5px rgb(16, 36, 145);
  margin: 4.5rem 10px 20px 10px;
}
  