.event-card {
  /* to distinguish card from background */
  background-color: white;
  border-radius: 5px;
  width: 45%;
  height: 20vh;
  display: flex;
  margin: 2vh;
  display: inline-flex;
  border: 1px solid rgb(255, 253, 208);
}

.img-event {
  width: 23vw;
  height: 20vh;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  
}

.card-header {
  font-family: 'Courgette', cursive;
  text-decoration: none !important;
}

.card-text {
  margin-left: 1vw;
  color: black;
  max-height: 18vh;
}

.card-details {
  text-decoration: none;
}