.event-card {
  /* to distinguish card from background */
  background-color: white;
  border-radius: 5px;
  width: 53vw;
  height: 20vh;
  display: flex;
  margin: 2vh;
}

.img-event {
  width: 23vw;
  height: 20vh;
  border-radius: 5px;
  
}

.card-text {
  margin-left: 1vw;
  color: black;
}

.card-details {
  text-decoration: none;
}